.harsh {
  background-color: aqua;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.japan {
  background-color: rgb(33, 118, 52);
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}